<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pom.mapper.UserMapper">

    <!--网民观点-->
    <select id="kemansNetizensViewsSql" resultType="com.pom.entity.User">
        select
            kmeans_netizens_views.po_netizens_views poNetizensViews,
            kmeans_netizens_views.po_cluster        poCluster,
            kmeans_netizens_views.po_repost_num     poRepostNum
        from
            pub_sentiment.kmeans_netizens_views
        where
            overview_original_id = #{id}
    </select>

    <!--重要观点-->
    <select id="invQueryHsql2" resultType="java.lang.String">
        select
            important_netizens_views.po_overview_id
        from
            pub_sentiment.important_netizens_views
        where
            overview_original_id = #{id}
    </select>

    <!--===========================1=wechat-data-begin==========================================================-->
    <!--微博历史数据汇总-数据源-时间段双匹配-->
    <select id="countWeiboDataSql" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            (history_data_count.ts &gt;= #{res_ts1} and history_data_count.ts &lt;= #{res_ts2})
          and data_source = #{id}
    </select>

    <!--微博历史数据汇总-数据源单匹配-->
    <select id="countWeiboDataSql1" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            data_source = #{id}
    </select>

    <!--微博历史数据汇总-总页-->
    <select id="weiboSql" resultType="com.pom.entity.AllHistoryDataCount">
        select
            "微博" as type_name,
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            data_source = "weibo"
            limit 5
    </select>

    <!--微博历史数据汇总-时间段内数据-可忽略-->
    <select id="countWeiboDataSqlTimeBucket" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            (substring(#{id2}, 0, 9) &gt;= '1980-01-01' and substring(#{id2}, 11, 20) &lt;= '2999-12-29')
          and data_source = #{id}
    </select>
    <!--==========================1==weibo-data-end==========================================================-->

    <!--==========================2==wechat-data-begin=========================================================-->
    <!--微信历史数据汇总-数据源-时间段双匹配-->
    <select id="countWeChatDataSql" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            (history_data_count.ts &gt;= #{res_ts1} and history_data_count.ts &lt;= #{res_ts2})
            and data_source = #{id}
    </select>

    <!--微信历史数据汇总-数据源单匹配-->
    <select id="countWeChatDataSql1" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            data_source = #{id}
    </select>

    <!--微信历史数据汇总-总页-->
    <select id="wechatSql" resultType="com.pom.entity.AllHistoryDataCount">
        select
            "微信" as type_name,
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            data_source = "wechat"
        limit 5
    </select>

    <!--微信历史数据汇总-时间段-可忽略-->
    <select id="countWeChatDataSqlTimeBucket" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            (substring(#{id2}, 0, 9) &gt;= '1980-01-01' and substring(#{id2}, 11, 20) &lt;= '2999-12-29')
          and data_source = #{id}
    </select>
    <!--==========================2==wechat-data-end==========================================================-->

    <!--==========================3==internet-media-data-begin================================================-->
    <!--网媒历史数据汇总-数据源-时间段双匹配-->
    <select id="countInternetMediaDataSqlTimeBucket" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            (history_data_count.ts &gt;= #{res_ts1} and history_data_count.ts &lt;= #{res_ts2})
          and data_source = #{id}
    </select>

    <!--网媒历史数据汇总-数据源单匹配-->
    <select id="countInternetMediaDataSqlTimeBucket1" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            data_source = #{id}
    </select>

    <!--网媒历史数据汇总-总页-->
    <select id="internetMediaSql" resultType="com.pom.entity.AllHistoryDataCount">
        select
            "网媒" as type_name,
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            data_source = "internet_media"
        limit 5
    </select>
    <!--==========================3==internet-media-data-end================================================-->

    <!--==========================4==history-count-data-begin================================================-->
    <!--总历史数据汇总-数据源-时间段双匹配-->
    <select id="counthistoryDataSql" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            (history_data_count.ts &gt;= #{res_ts1} and history_data_count.ts &lt;= #{res_ts2})
          and data_source = #{id}
    </select>

    <!--总历史数据汇总-数据源单匹配-->
    <select id="counthistoryDataSql1" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            data_source = #{id}
    </select>

    <!--总历史数据汇总-时间段-->
    <select id="counthistoryDataSqlTimeBucket" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            (substring(#{id2}, 0, 9) &gt;= '1980-01-01' and substring(#{id2}, 11, 20) &lt;= '2999-12-29')
          and data_source = #{id}
    </select>

    <!--总历史数据汇总-全部-->
    <select id="countAllHistoryDataSql" resultType="com.pom.entity.HistoryDataCount">
        select
            history_data_count.total_account_number     total_account_number,
            history_data_count.total_data_source        total_data_source,
            history_data_count.total_data               total_data,
            history_data_count.total_add_account_number total_add_account_number,
            history_data_count.total_add_data_source    total_add_data_source,
            history_data_count.total_add_total_data     total_add_total_data,
            history_data_count.data_source              data_source,
            history_data_count.ds                       ds
        from
            pub_sentiment.history_data_count
        where
            (substring(#{id2}, 0, 9) &gt;= '1980-01-01' and substring(#{id2}, 11, 20) &lt;= '2999-12-29')
            and data_source = #{id}
    </select>
    <!--==========================4==history-count-data-end================================================-->
</mapper>

